URL : https://youtu.be/v7OTVy6whEY?si=XHAfpPkZwBdZD6FZ

# Built-in functions

## Fonctions de base: abs(), round(), max(), min(), len(), sum(), any(), all()

In [118]:
x = -3

#afficher la valeur absolue de x
abs(x)

3

In [119]:
x = 3.14

#arrondir une decimale
round(x)

3

In [120]:
#créer une liste avec des valeurs numériques
liste_1 = [0, 23, 14, -19]

#afficher l'élément maximum dans liste_1
max(liste_1)

23

In [121]:
#afficher l'élément minimum dans liste_1
min(liste_1)

-19

In [122]:
#afficher la longueur de liste_1
len(liste_1)

4

In [123]:
#afficher la somme des éléments dans liste_1
sum(liste_1)

18

In [124]:
all(liste_2)  # affiche True si tous les éléments sont égaux à True

False

In [125]:
liste_2 = [True, True, False]

any(liste_2)  # affiche True si au moins un élément dans liste_1 est égal à True

True

In [126]:
any(liste_1)  # affiche True si au moins un élément dans liste_1 est égal à True (différent de 0)

True

## Conversion de types de variables: int(), str(), float() et type()

In [128]:
x = 10

#afficher le type de la variable x
type(x)

int

In [129]:
#transformer (=convertir) x du type integer au type chaîne de caractères
str(x)

'10'

In [130]:
#afficher le type de str(x)
type(str(x))

str

In [131]:
y = '20'  # y est de type str

y = int(y)  # convertir en type int

#afficher le type de y
type(y)

int

In [132]:
x =10  # nombre entier

float(x)  #convertir en float (valeur decimale)

10.0

In [133]:
#afficher le type de float(x)
type(float(x))

float

## Conversions de structures de données: list(), tuple(),...

### Convertir une liste en tuple

In [136]:
#créer liste_1
liste_1 = [0, 61, 63, 243]

#afficher liste_1
liste_1

[0, 61, 63, 243]

In [137]:
#convertir liste_1 en tuple
tuple_1 = tuple(liste_1)

#afficher tuple_1
tuple_1

(0, 61, 63, 243)

#### Convertir le tuple en une liste

In [139]:
list(tuple_1)

[0, 61, 63, 243]

### Convertir les clés d'un dictionnaire en une liste

In [141]:
#créer un dict inventaire
inventaire = {
    'bananes' : 5000,
    'pommes' : 2094,
    'poires' : 412809
    }

#afficher le dict inventaire
inventaire

{'bananes': 5000, 'pommes': 2094, 'poires': 412809}

In [142]:
#afficher les clés du dict inventaire
inventaire.keys()

dict_keys(['bananes', 'pommes', 'poires'])

In [143]:
#afficher les clés du dict inventaire sous forme de liste
list(inventaire.keys())

['bananes', 'pommes', 'poires']

## La fonction input()

In [145]:
x = input()

#afficher x 
x

 Bonjour

'Bonjour'

In [146]:
#afficher le message 'Veuillez entrer un nombre: ' pour faire entrer un nbre
x = input('Veuillez entrer un nombre: ')

#afficher x
x

Veuillez entrer un nombre:  5

'5'

In [147]:
#type de la variable x
type(x)

str

In [148]:
#convertir x en integer
x = int(input('Veuillez entrer un nombre: '))

#afficher x +10
x + 10

Veuillez entrer un nombre:  10

20

## Fonction format()

La fonction **format()** permet de personaliser les chaînes de caractères, de les rendre dynamiques (en y intégrant des valeurs de certaines variables).

In [196]:
message = 'La température est de 25 degC à Paris'

#afficher message
print(message)

La température est de 25 degC à Paris

In [197]:
#déclarer les variables x et ville
x = 25
ville = 'Paris'

message = 'La température est de {} degC à {}'.format(x, ville)  #chaîne de caractères qui change avec les valeurs de x et ville

#afficher message
print(message)

La température est de 25 degC à Paris

In [198]:
#déclarer la variable x
x = 30

message_2 = 'La température est de {} degC à {}'.format(x, ville)  #chaîne de caractères qui change avec les valeurs de x et ville

#afficher message
print(message_2)

La température est de 30 degC à Paris

In [199]:
#déclarer la variable x
x = 30

message_3 = f'La température est de {x} degC à {ville}'  #chaîne de caractères qui change avec les valeurs de x et ville

#afficher message
print(message_3)

La température est de 30 degC à Paris

## Fonction open()

In [201]:
#créer une variable f (f pour fichier) qui est le resultat de la foction open()
#le nom du fichier est : fichier.txt
# w pour le mode écriture, on crée un fichier pour écrire du contenu
f = open('fichier.txt', 'w')

In [202]:
f.write('Bonjour') # écrire 'Bonjour' dans notre fichier
f.close()   #fermer le fichier

In [203]:
#créer une variable f (f pour fichier) qui est le resultat de la foction open()
#le nom du fichier est : fichier.txt
# r pour le mode lecture (read), on crée un fichier pour lire du contenu
f = open('fichier.txt', 'r')

#lire le fichier
f.read()

'Bonjour'

In [204]:
#utiliser une autre methode pour lire le fichier
with open('fichier.txt', 'r') as f:
    print(f.read())

#en retournant à la tête de la ligne, on ferme le fichier fichier.txt

Bonjour