# Numpy: indexing slicing masking

URL : https://youtu.be/vw4u9uBFFqU?si=SSWillBGAW5XPmY_

In [118]:
import numpy as np

In [119]:
#créer un tableau A avec 2 dimensions, 3 lignes et 3 colonnes
A = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

#Afficher A
A

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

## Indexing

In [121]:
#l'élément de la 1ère ligne et 1ère colonne
A[0,0]

1

In [122]:
#l'élément de la 1ère ligne et 2ème colonne
A[0,1]

2

In [123]:
#obtenir l'élément 5 du tableau
A[1,1]  #èeme ligne, 2ème colonne

5

## Slicing

In [125]:
#afficher toute la 1ère colonne dans le tableau A
A[:,0]   # : signifie toutes les lignes, 0 pour la 1ère colonne

array([1, 4, 7])

In [126]:
 #afficher tous les éléments de la 1ère ligne dans le tableau A
A[0,:]   # 0 pour la 1ère ligne, et : signifie toutes les colonnes

array([1, 2, 3])

**Remarque:**

Si on veut accéder à une ligne d'un tableau Numpy, On peut juste écrire **nom_du_tableau[index_de_la_ligne]**.

L'axe des lignes étant l'axe principal, (axis = 0), Numpy comprend par défaut qu'on veut accéder aux éléments de cet axe.

Exemple:

In [128]:
##Afficher la 2ème ligne du tableau A
A[1]

array([4, 5, 6])

In [129]:
##Afficher la 3ème ligne du tableau A
A[2]

array([7, 8, 9])

### Selectionner un bloc dans le tableau Numpy

In [131]:
##Afficher les 2 premières lignes et les 2 premières colonnes du tableau A
A[0:2, 0:2]

array([[1, 2],
       [4, 5]])

### Subsetting

In [133]:
#subsetting : réduire la taille d'un ensemble de données en sélectionnant une partie des données qui nous intéresse
B = A[0:2, 0:2]

In [134]:
#afficher B
B

array([[1, 2],
       [4, 5]])

In [135]:
#la forme de B
B.shape

(2, 2)

### Changer les éléments d'un tableau

In [137]:
#changer les éléments de cette partie du tableau A en 10
A[0:2, 0:2] = 10

#afficher A
A

array([[10, 10,  3],
       [10, 10,  6],
       [ 7,  8,  9]])

In [138]:
# exercice: afficher toutes les lignes et les 2 dernières colonnes de A
A[:, -2:]

array([[10,  3],
       [10,  6],
       [ 8,  9]])

In [139]:
#tableau B rempli de zéros avec les dimensions (4,4)
B = np.zeros((4,4))

#afficher B
B

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [140]:
#changer le milieu du tableau par la valeur 1
B[1:3, 1:3] = 1

#afficher B
B

array([[0., 0., 0., 0.],
       [0., 1., 1., 0.],
       [0., 1., 1., 0.],
       [0., 0., 0., 0.]])

### Slicing A[début:fin:pas,début:fin:pas]

In [142]:
#créer un tableau C rempli de zéros avec les dimensions (5,5)
C = np.zeros((5,5))

#afficher C
C

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [143]:
#séléctionner tous les éléments du tableau avec un pas = 2, pour les lignes et les colonnes
#et changer leurs valeurs en 1
C[::2, ::2] = 1

#afficher C
C

#On n'a pas besoin de retenir cette partie pour la Data Science

array([[1., 0., 1., 0., 1.],
       [0., 0., 0., 0., 0.],
       [1., 0., 1., 0., 1.],
       [0., 0., 0., 0., 0.],
       [1., 0., 1., 0., 1.]])

## Boolean indexing

C'est une technique qui permet de filtrer les données dans un DataFrame en fonction de conditions spécifiques.

### Boolean indexing avec 1 condition

In [147]:
#créer un tableau D de dimensions (5,5)
#rempli de nbres entiers aléatoires compris entre 1 et 10

D = np.random.randint(0,10 , [5,5])

#afficher D
D

array([[3, 2, 3, 2, 0],
       [6, 6, 2, 4, 6],
       [4, 2, 8, 0, 7],
       [1, 1, 9, 0, 3],
       [4, 9, 9, 5, 3]])

In [148]:
#créer un masque a partir du tableau D
#avec les valeurs <5
D < 5

array([[ True,  True,  True,  True,  True],
       [False, False,  True,  True, False],
       [ True,  True, False,  True, False],
       [ True,  True, False,  True,  True],
       [ True, False, False, False,  True]])

In [149]:
#True signifie que l'élément du tableau D est < 5
#False signifie que l'élément du tableau D est >= 5

In [150]:
#remplacer True dans le tableau D par 10
D[D<5] = 10

#afficher D
D

array([[10, 10, 10, 10, 10],
       [ 6,  6, 10, 10,  6],
       [10, 10,  8, 10,  7],
       [10, 10,  9, 10, 10],
       [10,  9,  9,  5, 10]])

### Boolean indexing avec 2 conditions

In [152]:
#créer un tableau E de dimensions (5,5)
#rempli de nbres entiers aléatoires compris entre 1 et 10

E = np.random.randint(0,10 , [5,5])

#afficher E
E

array([[5, 9, 5, 8, 0],
       [5, 5, 7, 3, 5],
       [7, 3, 5, 8, 3],
       [3, 8, 1, 1, 7],
       [5, 5, 6, 4, 7]])

In [153]:
#créer un masque a partir du tableau E
#avec les valeurs à la fois <5 et >2 
(E<5) & (E>2)

array([[False, False, False, False, False],
       [False, False, False,  True, False],
       [False,  True, False, False,  True],
       [ True, False, False, False, False],
       [False, False, False,  True, False]])

In [154]:
#True signifie que l'élément du tableau E est est à la fois <5 et >2
#False signifie que l'élément du tableau E est à la fois >= 5 et =<2

In [155]:
#remplacer True dans le tableau D par 10
E[(E<5) & (E>2)] = 10

#afficher D
E

array([[ 5,  9,  5,  8,  0],
       [ 5,  5,  7, 10,  5],
       [ 7, 10,  5,  8, 10],
       [10,  8,  1,  1,  7],
       [ 5,  5,  6, 10,  7]])

In [156]:
#utiliser le boolean indexing pour filtrer les donnees du tableau E
#séléctionner une partie du tableau E où la condition est remplie
#cad où les valeurs sont <5
E[E<5]

array([0, 1, 1])

In [157]:
#la forme du tableau obtenue change
E[E<5].shape    #E est de dimensions (5,5)

(3,)

In [158]:
#et bien sur, on obtient (en général) moins d'éléments que le tableau initial

In [159]:
#on peut appliquer le boolean indexing du tableau E
#sur un tableau F avec les mêmes dimensions que le tableau E (5,5)

In [160]:
#créer un tableau F de dimensions (5,5)
#rempli de nbres entiers aléatoires compris entre 1 et 10

F = np.random.randint(0,10 , [5,5])

#afficher F
F

array([[5, 5, 8, 2, 2],
       [4, 1, 5, 7, 5],
       [0, 2, 3, 4, 2],
       [3, 2, 6, 4, 6],
       [9, 7, 0, 3, 7]])

In [161]:
#afficher E
E

array([[ 5,  9,  5,  8,  0],
       [ 5,  5,  7, 10,  5],
       [ 7, 10,  5,  8, 10],
       [10,  8,  1,  1,  7],
       [ 5,  5,  6, 10,  7]])

In [162]:
#créer le masque
E<5

array([[False, False, False, False,  True],
       [False, False, False, False, False],
       [False, False, False, False, False],
       [False, False,  True,  True, False],
       [False, False, False, False, False]])

In [163]:
#afficher F où l'on va appliquer le masque
F

array([[5, 5, 8, 2, 2],
       [4, 1, 5, 7, 5],
       [0, 2, 3, 4, 2],
       [3, 2, 6, 4, 6],
       [9, 7, 0, 3, 7]])

In [164]:
#utiliser le boolean indexing du taleau E pour filtrer les données du tableau F
#séléctionner une partie du tableau F où la condition est remplie

F[E<5]

array([2, 6, 4])