URL : https://youtu.be/5UOSiCPu5aM?si=m16qr6kPgpIo4x3i

## Méthodes sur les listes

In [72]:
villes = ['Paris', 'Berlin', 'Londres', 'Bruxelles']

### append()

In [74]:
#ajouter un élément 'Dublin' à la fin de la liste villes
villes.append('Dublin')

#afficher la liste villes
villes

['Paris', 'Berlin', 'Londres', 'Bruxelles', 'Dublin']

### insert()

In [76]:
#ajouter un élément au milieu de la liste villes
# à l'index 2, ajouter l'élément 'Madrid'
villes.insert(2, 'Madrid')

#afficher la liste villes
villes

['Paris', 'Berlin', 'Madrid', 'Londres', 'Bruxelles', 'Dublin']

### extend()

In [78]:
#ajouter une liste à la liste villes
villes_2 = ['Amsterdam', 'Rome']

villes.extend(villes_2)

#afficher la liste villes
villes

['Paris',
 'Berlin',
 'Madrid',
 'Londres',
 'Bruxelles',
 'Dublin',
 'Amsterdam',
 'Rome']

### Len()

In [80]:
#nombre d'éléments dans la liste villes
len(villes)

8

### Sort()

In [82]:
# trier la liste villes par ordre alphabétique
villes.sort()

#afficher la liste villes
villes

['Amsterdam',
 'Berlin',
 'Bruxelles',
 'Dublin',
 'Londres',
 'Madrid',
 'Paris',
 'Rome']

In [83]:
# trier la liste villes par ordre anti-alphabétique
villes.sort(reverse = True)

#afficher la liste villes
villes

['Rome',
 'Paris',
 'Madrid',
 'Londres',
 'Dublin',
 'Bruxelles',
 'Berlin',
 'Amsterdam']

In [84]:
liste_2 = [52, 51, 23, 61, 3, 2, 78, 24]

In [85]:
# trier la liste liste_2 par ordre alphabétique
liste_2.sort()

#afficher la liste liste_2
liste_2

[2, 3, 23, 24, 51, 52, 61, 78]

### Count()

In [87]:
# combien de fois l'élément 'Paris' apparait dans la liste villes
villes.count('Paris')

1

In [88]:
#remplacer l'élément à l'index 3 par l'élément 'Paris'
villes[3] = 'Paris'

# combien de fois l'élément 'Paris' apparait dans la liste villes
villes.count('Paris')

2

In [89]:
villes

['Rome',
 'Paris',
 'Madrid',
 'Paris',
 'Dublin',
 'Bruxelles',
 'Berlin',
 'Amsterdam']

### If else et la boucle For sur une liste

### If else sur une liste

In [92]:
if 'Paris' in villes:
    print ('Oui')
else:
    print ('Non')

Oui

In [93]:
if 'Belfast' in villes:
    print ('Oui')
else:
    print ('Non')

Non

### La boucle For sur une liste

In [95]:
#afficher les éléments de la liste villes
for i in villes:
    print(i)

Rome
Paris
Madrid
Paris
Dublin
Bruxelles
Berlin
Amsterdam

In [96]:
#afficher les index et leurs valeurs (les éléments) de la liste villes
for index, valeur in enumerate(villes):
    print(index, valeur)

0 Rome
1 Paris
2 Madrid
3 Paris
4 Dublin
5 Bruxelles
6 Berlin
7 Amsterdam

In [97]:
#afficher la liste villes
villes

['Rome',
 'Paris',
 'Madrid',
 'Paris',
 'Dublin',
 'Bruxelles',
 'Berlin',
 'Amsterdam']

In [98]:
#afficher la liste liste_2
liste_2

[2, 3, 23, 24, 51, 52, 61, 78]

In [99]:
#utiliser la boucle For dans 2 listes (villes, liste_2) en parallèle avec la commande zip
for a, b in zip(villes, liste_2):
    print(a, b)

Rome 2
Paris 3
Madrid 23
Paris 24
Dublin 51
Bruxelles 52
Berlin 61
Amsterdam 78

In [100]:
liste_2 = [52, 51, 23, 61]

In [101]:
liste_2

[52, 51, 23, 61]

In [102]:
#utiliser la boucle For dans 2 listes avec des longeurs différentes (villes, liste_2) en parallèle avec la commande zip
for a, b in zip(villes, liste_2):
    print(a, b)

Rome 52
Paris 51
Madrid 23
Paris 61